@mixin button-variant($bg, $fg) {
  background-color: $bg;
  color: $fg;

  &:hover {
    background-color: darken($bg, 5%);
  }

  &:active {
    background-color: darken($bg, 10%);
  }
}

.button {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  height: $size-control;
  line-height: $size-control;
  @include button-variant($palette-primary, $palette-foreground-inverse);
}

.button + .button {
  margin: 0.5em 0 0;
}

.button-transparent {
  @include button-variant($palette-background, $palette-foreground);
}

.button-muted {
  @include button-variant($palette-muted, $palette-foreground);
}

.button-negative {
  @include button-variant($palette-negative, $palette-foreground-inverse);
}

.button-positive {
  @include button-variant($palette-positive, $palette-foreground-inverse);
}
