.color-well {
  $border-size: 2px;

  display: inline-block;
  position: relative;
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  height: $size-control;
  border: $border-size solid $palette-primary;
  box-shadow: inset 0 0 0 $border-size white;
}

.color-well-modal {
  $pad-width: 250px;
  $pad-height: 20px;
  $arrow-size: 5px;
  $circle-size: 8px;

  .hue-pad {
    box-sizing: border-box;
    width: $pad-width;
    height: $pad-height;
    margin: 0 0 $interval-component 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    user-select: none;

    &::before {
      content: '';
      display: block;
      position: relative;
      top: $pad-height - $arrow-size;
      left: -$arrow-size;
      width: 0;
      height: 0;
      border: $arrow-size;
      border-style: solid;
      border-color: transparent transparent $palette-foreground transparent;
    }

    &::after {
      content: '';
      display: block;
      position: relative;
      top: -$arrow-size * 3;
      left: -$arrow-size;
      width: 0;
      height: 0;
      border: $arrow-size;
      border-style: solid;
      border-color: $palette-foreground transparent transparent transparent;
    }
  }

  .saturation-value-pad {
    box-sizing: border-box;
    width: $pad-width;
    height: $pad-width;
    margin: 0 0 $interval-component 0;
    overflow: hidden;
    background-size: cover;
    background-image:
      linear-gradient(to bottom, transparent, black),
      linear-gradient(to right, white, transparent);

    &::before {
      content: '';
      display: block;
      width: $circle-size;
      height: $circle-size;
      margin: ($circle-size / -2) 0 0 ($circle-size / -2);
      border-radius: 50%;
      border: 1px solid black;
      box-shadow: inset 0 0 0 1px white;
    }
  }

  .color-well-modal-actions {
    text-align: right;

    .button {
      margin-left: $interval-component;
    }
  }
}
