.color-well {
  $border-size: 2px;

  display: inline-block;
  position: relative;
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  height: $size-control;
  border: $border-size solid $palette-primary;
  box-shadow: inset 0 0 0 $border-size white;
}

.color-well-properties {
  position: relative;
  width: 300px;

}
