
.effect-editor {
  background-color: $palette-background;

  &:hover {
    box-shadow: inset 3px 0 0 $palette-primary;
  }

  .effect-editor-header {
    touch-action: pan-y;
    line-height: $size-control;
    margin: 0 0 $interval-component 0;

    .toggle {
      margin-right: $interval-component;
    }

    .effect-editor-actions {
      float: right;

      * + * {
        margin-left: 10px;
      }
    }

    .effect-editor-name {
      cursor: move;
    }
  }

  ul {
    padding: 0;
    list-style: none;
  }
}
