.effect-picker {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .effect-picker-search {
    margin: 0 0 1.5em 0;
  }

  .effect-picker-list {
    flex: 1;
    list-style: none;
    padding: 0;
    overflow-y: auto;

    li {
      cursor: pointer;
      padding: 1em;
      border-top: 1px solid $palette-muted;
      transition: background-color 0.1s linear;

      &:hover {
        background-color: $palette-muted;
      }
    }
  }

  .effect-picker-actions {
    padding: 1.5em 0 0 0;
    text-align: right;
  }
}
