.image-container {
  cursor: move;
  user-select: none;
  display: block;
  height: 100%;
  width: 100%;

  .image-container-wrapper {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 0;
    transition: transform 0.05s ease;
  }

  .image-container-actions {
    cursor: default;
    position: absolute;
    padding: 1em;

    &.inverse {
      $inverse-color: rgba(0, 0, 0, 0.5);
      .button {
        border: 2px solid $inverse-color;
        color: $inverse-color;
      }
      .color-well {
        border: 2px solid $inverse-color;
        background-color: $inverse-color !important;
      }
    }

    .button, .color-well {
      cursor: pointer;
      opacity: 0.6;
      transition: opacity 0.1s linear;

      &:hover, &.active {
        opacity: 0.9;
      }
    }

    .button {
      width: $size-control * 1.5;
      height: $size-control * 1.5;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid white;
      outline: none;
    }

    .color-buttons {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      height: $size-control * 1.5;
      margin: 0 0 0 5px;
      width: 0;
      opacity: 0;
      transition: all 0.2s ease;
      overflow: hidden;

      &.active {
        width: ($size-control + 5px) * 4;
        opacity: 1;
      }

      * {
        display: inline-block;
        position: absolute;
        top: $size-control - $size-control * 1.5 / 2;
      }

      .button, .color-well {
        left: 0;
        margin-left: 0.2em;
        width: $size-control;
        height: $size-control;
      }

      .color-well {
        border: 2px solid white;
        border-radius: 50%;
        left: 75%;
        // Turn off color preview with "important"
        background-color: white !important;
        background-image: url('/assets/color-wheel-32.png');
        background-size: cover;
        box-shadow: none;
      }
    }
  }
}