.pipeline-editor {
  margin: 0;
  text-align: left;
  overflow: auto;

  & > ul {
    padding: 0;
  }

  .pipeline-editor-actions {
    text-align: center;
  }
}

.pipeline-editor-item {
  padding: 1em;
  list-style: none;
  vertical-align: baseline;
}