.pipeline-editor {
  margin: 0;
  text-align: left;
  overflow: auto;

  & > ul {
    padding: 0;
  }

  .pipeline-editor-actions {
    .button {
      margin-right: 0.5em;
    }
  }
}

.pipeline-editor-item {
  padding: 0.5em 1em 0.5em 1em;
  list-style: none;
  vertical-align: baseline;
}
