.slider {
  $border-size: 2px;

  display: inline-block;
  width: 100%;
  height: $size-control;
  border: $border-size solid $palette-primary;
  padding: 0 1.5em 0 0;
  box-sizing: border-box;

  .slider-container {
    position: relative;
    left: 0;
    right: $size-control;
    height: $size-control;

    .slider-button {
      position: absolute;
      top: 0;
      height: $size-control - $border-size * 2;
      width: $size-control;
      background-color: $palette-primary;
    }
  }
}
