.toggle {
  display: inline-block;
  position: relative;
  width: $size-control * 2;
  height: $size-control;
  border: 2px solid $palette-primary;
  user-select: none;

  .toggle-button {
    position: absolute;
    width: $size-control;
    height: $size-control;
    top: 0;
    background-color: $palette-primary;
    transition: left 0.05s ease;
  }
}
