// Sizes

$size-heading-primary: 32px;
$size-heading-secondary: 26px;
$size-heading-tertiary: 20px;
$size-text: 14px;
$size-control: 26px;

$font-weight-text: 300;
$font-weight-heading: 400;

$screen-small: 800px;
$screen-medium: 1024px;
$screen-large: 1280px;
$screen-huge: 1920px;

$interval-component: floor($size-text * 0.5);
$interval-block: $size-text;

// 12 is good because it divides well by 2, 3 and 4
$grid-cols: 12;

// See also: https://baymard.com/blog/line-length-readability
$width-comfort-reading: 600px;

// Fonts

$font-heading: Georgia, serif;
$font-text: Arial, Helvetica, sans-serif;

// App-specific

$sidebar-width: 400px;
