.l-composer {
  $sidebar-width: 400px;
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;

  &.l-composer-compact {
    .composer-sidebar {
      z-index: 1;
      left: -$sidebar-width;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1px;
        width: 1px;
      }

      &:hover {
        left: 0;
        transition-delay: 0.5s;

        &::after {
          right: -50px;
          width: 50px;
        }
      }
    }

    .composer-screen {
      left: 0;

      .image-container-actions:not(.active) {
        opacity: 0;
        transition: opacity 0.1s linear;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .composer-sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar-width;
    transition: left 0.3s ease;
    background-color: $palette-background;

    .composer-sidebar-header {
      text-align: center;
    }
  }

  .composer-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $sidebar-width;
    overflow: hidden;
    transition: left 0.3s ease;
  }
}
