.l-composer {
  $sidebar-width: 400px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.l-composer-compact {
    .composer-sidebar {
      z-index: 1;
      left: -$sidebar-width;

      // Add 1px area on the left of the screen.
      // Hovering on it, user can open sidebar.
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1px;
        width: 1px;
      }

      &:hover {
        left: 0;
        transition-delay: 0.5s;

        // Prevent sidebar from closing immediately when user accidentaly
        // moves cursor out of it for a few pixels. 
        &::after {
          right: -50px;
          width: 50px;
        }
      }
    }

    .composer-screen {
      left: 0;

      // Hide action buttons when background picker is inactive
      .image-container-actions:not(.active) {
        opacity: 0;
        transition: opacity 0.1s linear;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .composer-sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar-width;
    transition: left 0.3s ease;
    background-color: $palette-background;

    .composer-sidebar-header {
      text-align: center;
    }
  }

  .composer-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $sidebar-width;
    overflow: hidden;
    transition: left 0.3s ease;
  }
}
